/* CSS Reset */
body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* #webcam {
  width: 640px;
  height: 480px;
  display: block;
} */

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}

select {
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#colorSchemeSelection {
  margin-bottom: 20px;
  text-align: center;
}

#blueOrangeScheme {
  background-color: blue;
  color: orange;
}

#magentaCyanScheme {
  background-color: magenta;
  color: cyan;
}

#blueYellowScheme {
  background-color: blue;
  color: yellow;
}

/* body > #poseCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
} */

#videoContainer {
  position: relative;
  width: 640px;
  height: 480px;
  margin: 20px auto;
}

#webcam {
  width: 100%;
  height: 100%;
}

#poseCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
